.header {
  display: flex;
  justify-content: space-between;  
  align-items: center;  
  background-color: #ffffff;
  border-bottom: 1px solid #212121;
  position: fixed;  
  top: 0;
  left: 0;
  right: 0;
  width: 100%; 
  height: 80px; 
  z-index: 1000;
}

.header-left {
  display: flex;
  align-items: center; 
}

.logo {
  width: 280px; 
  margin-right: 20px;
}

.nav-menu {
  display: flex; 
  margin: 20px 0;
  padding: 20px 0;
  list-style-type: none;
  width: 800px;
}

.nav-menu a {
  margin-right: 20px;
  text-decoration: none;
  color: rgb(9, 11, 155);
  font-size: 16px;
  font-weight: 500;
}

.nav-item {
  position: relative;
  margin-right: 100px;
  margin-left: 80px;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #59e773;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  padding: 10px 0;
  width:  180px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.nav-item:hover .dropdown {
  display: block;
  opacity: 1;
  visibility: visible;
  flex: 1 1 150px;
  
}

.dropdown li {
  text-align: left;
  padding: 8px 20px;
}

.dropdown li a {
  color: #0e0d0d;
  text-decoration: none;
  font-size: 14px;
  display: block;
  padding: 6px 0;
}

.dropdown li a:hover {
  color: #03775c; 
  padding-left: 10px;
  background-color: white;
  width: 130px;
}

.header-right {
  display: flex;          
  align-items: center;     
  gap: 10px;                
  flex-shrink: 0;
  margin-right: 20px;
}


button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-left: 2000px;
}

.avatar:hover {
  transform: scale(1.1);
}

