/* .homepage-container {
  display: flex;
  background-color: rgb(236, 39, 39);
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
} */

.main-homepage {
  display: flex;
  flex-direction: column;
  height: 100%; 
}


.homepage-header {
  display: flex;
  justify-content: space-between;  
  align-items: center;  
  background-color: #ffffff;
  border-bottom: 1px solid #212121;
  position: fixed;  
  top: 0;
  left: 0;
  right: 0;
  width: 100%; 
  height: 80px; 
  z-index: 1000;
}

.home-header-left {
  display: flex;
  align-items: center; 
}

.homepage-logo {
  height: 79px;
  width: 20%;
  object-fit: fill;
}

.nav-menu {
  display: flex; 
  margin: 20px 0;
  padding: 20px 0;
  list-style-type: none;
}

.nav-menu a {
  margin-right: 20px;
  text-decoration: none;
  color: rgb(9, 11, 155);
  font-size: 16px;
  font-weight: 500;
}

.nav-item {
  position: relative;
  margin-right: 100px;
  margin-left: 80px;
}

.dropdown {
  display: grid;
  flex-wrap: wrap;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ede8e8;
  border: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  padding: 10px 0;
  width: 300px;
  gap: 10px;
  opacity: 1;
  visibility: visible;
  z-index: 999;
}

.nav-item:hover .dropdown {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.dropdown li {
  flex: 0 0 auto;
  white-space: nowrap;
}

.dropdown li a {
  display: block;
  color: #333;
  text-decoration: none;
  font-size: 14px;
  padding: 5px 10px;
  white-space: nowrap;
  border-radius: 4px;
}

.dropdown li a:hover {
  background-color: #ede8e8; 
}

.home-header-right {
  display: flex;          
  align-items: center;     
  gap: 10px;                
  flex-shrink: 0;
  margin-right: 20px;
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
}

.home-signup-btn {
  background-color: transparent;
  color: #0b0b0b; 
  border: 1px solid #28a745;
}

.home-login-btn {
  background-color: #007bff; 
  color: rgb(4, 4, 4);
  border: 1px solid #28a745;
}

button:hover {
  opacity: 0.8;
}
