.otp-container {
  width: 100%;
  max-width: 400px;
  margin: 80px auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.otp-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.otp-input {
  padding: 10px;
  font-size: 16px;
}

.otp-box {
  width: 3rem !important;
  height: 3rem;
  margin: 0 5px;
  font-size: 1.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  text-align: center;
}

.otp-button {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.otp-resend-section {
  margin-top: 10px;
}

.otp-resend-button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
}

.otp-message {
  margin-top: 20px;
  font-weight: bold;
  color: #444;
}
