* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sidebar-applicant {
  width: 20%;
  height: 100vh;    
  background: white;
  color: black;
  border-right: 1px solid #0f0f0f;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 80px;
  left: 0;
}

.sidebar-applicant-header {
  font-size: 16px;
  font-weight: bold;
  padding: 20px 16px; 
  border-bottom: 1px solid black
}

.sidebar-applicant-menu {
  flex: 1;
  padding: 10px 0;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 16px 20px;
  color: black;
  font-size: 15px;
  background: none;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
  margin-bottom: 8px;
}

.menu-item .icon {
  margin-right: 12px;
  font-size: 18px;
}

.menu-item:hover {
  background: #007bff; 
  width: 280px;
}

.menu-item.active {
  background: #007bff; 
  color: white; 
  font-weight: bold;
  width: 280px;
  transition: background-color 0.3s ease; 
}

.menu-item .label {
  flex: 1;
  margin-left: 10px;
}

.menu-item .arrow {
  font-size: 18px; 
  margin-left: 8px; 
  transition: transform 0.3s ease;
  display: flex;
  align-items: center; 
}

.submenu {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.submenu-item {
  margin: 10px 10px 10px 0;
  padding: 12px 20px;
  border: none;
  font-size: 16px;
  background: none;
  color: black;
  text-align: left;
  cursor: pointer;
  border-radius: 3px;
}

.submenu-item:hover {
  background-color: #007bff;   
  font-weight: bold;
  text-align: center;
  color: white ;
}

.submenu-item.active {   
  font-weight: bold;
  transition: background-color 0.3s ease; 
}
