.dashboard-container {
    height: 100vh;              
    overflow-y: auto;           
    overflow-x: hidden; 
    display: flex;
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
    /* width: 90vw;
    height: 100vh; */
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;

}


.sidebar {
    width: 20%;
    height: 100vh;    
    background: white;
    color: black;
    border-right: 1px solid #0f0f0f;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    top: 180px;
    display: block;
    position: fixed;
    margin-left: 20px;
    text-align: left;
}

.sidebar-menu li {
    align-items: center;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: background-color 0.2s, color 0.2s;
    font-size: 1.1em;
    color: #495057;
}

.sidebar-menu li:hover {
    background-color: #e9ecef;
    color: #007bff;
}

.sidebar-menu li.active {
    background-color: #007bff;
    color: #fff;
}

.sidebar-menu li.active:hover {
    background-color: #007bff; 
}

.sidebar-menu li svg {
    margin-right: 15px;
    font-size: 1.3em;
}


.main-content-wrapper {
    flex-grow: 1;
    padding: 40px;
 

}
.sidebar-header {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.website-logo {
  width: 60px; 
  height: 60px; 
  border-radius: 50%;
  margin-bottom: 10px; 
  border: 2px solid #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.sidebar-header h3 {
  font-size: 1.2em;
  color: #333;
  margin: 0;
}
