/* index.css hoáº·c App.css */
.breadcrumb {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: #666;
  padding: 0.5rem 0;
  margin: 100px auto 0 160px;
}

.breadcrumb .crumb a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}
.breadcrumb .arrow::after {
  content: ' >';
  color: #999;
  font-size: 18px;
}
.breadcrumb .crumb a:hover {
  text-decoration: underline;
  color: rgb(5, 38, 137);
}

.breadcrumb .crumb :active {
  color: rgb(114, 12, 33);
}