#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* .layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;        
  background: #004080;
}

.main-content {
  flex-grow: 1;       
  padding: 20px 40px;
  max-width: 1200px;   
  margin: 0 auto;      
  background: #f8f9fa;
} */

