<<<<<<< HEAD
:root {
=======
/* :root {
>>>>>>> origin/Trong
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
<<<<<<< HEAD
  color: white;
=======
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
>>>>>>> origin/Trong

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
<<<<<<< HEAD
=======
  min-width: 320px;
  min-height: 100vh;
>>>>>>> origin/Trong
}

h1 {
  font-size: 3.2em;
<<<<<<< HEAD
}

button {
=======
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
>>>>>>> origin/Trong
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
<<<<<<< HEAD
=======
  transition: border-color 0.25s;
>>>>>>> origin/Trong
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: whitesmoke;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
<<<<<<< HEAD
}

* { box-sizing: border-box; margin: 0; padding: 0; }
html {
  font-size: 16px; 
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}


@media (max-width: 1024px) {
  .recruitment-detail-layout {
    flex-direction: column;
    gap: 20px;
  }
  .left-col,
  .right-col {
    flex: 1 1 100%;
  }
}

@media (max-width: 480px) {

  .detail-btn {
    flex-direction: column;
    width: 100%;
  }
  .detail-apply-btn,
  .detail-favorite-btn {
    width: 100%;
  }
}
=======
} */
>>>>>>> origin/Trong
